.titreBoutique {
    text-align: center;
    font-size: 4rem;
    color: #FFD543;
    letter-spacing: 4px;
    text-shadow: #2C1E1E
    6px 6px;
}

.boutique {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/*---------------Ici commence le filtre---------*/
.filter {
    width: 350px!important;
    margin: 0 0 40px;
}

.filter > h2 {
    font-size: 2.5rem;
    margin:0 5% 5%;
    letter-spacing: 2px;

}

.filterNames {
    font-size: 2.2rem;
    margin-left: 5%;
    cursor: pointer;
    letter-spacing: 2px;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.categories > label {
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.categories > input {
    cursor: pointer;
}

.labelSelect {
    font-size: 1.38rem;
    font-weight: 600;
    margin-left: 5%;
}

.select {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 20px;
    height: 25px;
    border: none;
}

/*------------------------------Ici commence les checkbox*/

.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0 0 -6px 5%;
    cursor: pointer;
    font-size: 1.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background-color: #fff;
}

.checkboxContainer:hover input ~ .checkmark {
    background-color: #fff;
}

.checkboxContainer input:checked ~ .checkmark {
    background-color: #55C0CF;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}

.checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }



/*-------------------------Ici commence le product grid*/

.productGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
}

/*---------------------Ici commmence la carte produit--*/
.productContainer {
    text-align: center;
    max-width: 250px;
    text-decoration: none;
}

.productContainer > a {
    text-decoration: none;
}

.productImage {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.productName {
    color: #FFD543;
    font-size: 2rem;
    margin: 10px 0;
    text-shadow: #2C1E1E 4px 4px;
    letter-spacing: 2px;
    
}

.productContainer > p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 10px 0;
}

.productButton {
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #55C0CF;
    color: black;
    padding: 5px;
    margin-top: 5px;
    border: none;
    box-shadow: 5px 5px #2C1E1E;
    cursor: pointer;
}




@media screen and (min-width: 768px) { 
    .titreBoutique {
        font-size: 6rem;
    }

    .spanPlus {
        display: none;
    }

    .boutique {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .productGrid {
        margin: 0 15% 0;
    }

    .hidden {
        display: block;
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
    }

    .filter {
        margin-left: 3%;
    }
    

    
}

@media screen and (min-width: 1024px) { 
    

    .productGrid {
        grid-template-columns: 1fr 1fr;
        column-gap: 10vw;
    }
    
    .filter {
        margin-right: 50px;
    }

    .productGrid {
        margin: 0 5% 50px;
        column-gap: 5%;
        gap: 40px;
        width: 70%;
    }
}


@media screen and (min-width: 1200px) { 
    .productGrid {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0;
    }
    .filter {
        width: 80%;
        margin: 0 0 0 3%;
    }
}

@media screen and (min-width: 1700px) { 
    .productGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
}