.cartHidden {
    display: none;
}

.cartDisplay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.cart {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 200px auto 500px;
}

.cartHeader {
    background-color: #FFD543;
    position: relative;
}

.closeCartButton {
    font-size: 5rem;
    font-weight: 600;
    background-color: transparent;
    color: rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    border: none;
    margin-top: -10px;
    margin-left: 5px;
    cursor: pointer;
}

.cartHeader > h3 {
    position: absolute;
    font-size: 3rem;
    letter-spacing: 4px;
    top: 10%;
    left: 50%;
    margin-left: -75.5px;
    text-shadow: #B65F28 4px 4px;
}

.cartBody {
    background-color: #B65F28;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.cartFooter {
    background-color: #FFD543;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartFooter > p {
    font-size: 2.2rem;
    font-weight: 600;
}

.validateCartButtons {
    font-size: 2.3rem;
    margin: 30px 0 10px;
    width: 500px;
    padding: 10px;
    border: none;
    color: white;
    background-color: #B65F28;
    border-radius: 5px;
    box-shadow: 5px 5px #2C1E1E;
    cursor: pointer;
}


.cartProductContainer {
    display: flex;
    height: 130px;
    margin: 10px;
}

.cartDeleteProduct {
    font-size: 4rem;
    color: rgb(255, 0, 0);
    background-color: transparent;
    border: none;
    text-shadow: black 0px 4px;
}

.cartImageProduct {
    width: 170px;
    object-fit: cover;
    margin: 0 15px 0 10px;
}

.productCartTitle {
    font-size: 2rem;
    margin: 5px 0 0 0;
    color: #FFD543;
    text-shadow: #2C1E1E 3px 3px;
}

.productCartPrice {
    font-size: 1.5rem;
    margin: 5px 0 15px;
    font-weight: 600;
}

.cartInputNumber {
    width: 50px;
    font-size: 1.3rem;
    font-weight: 600;
}







@media screen and (min-width: 768px) { 

    .cartProductInfo {
        display: flex;
        align-items: center;
    }

    .cartInputNumber {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1024px) { 

    .blank {
        width: 50%;
        background-color: rgba(0, 0, 0, 0.333);
    }

    .cart {
        width: 50%;
    }

    .cartDisplay {
        display: flex;
        /*padding-bottom: 300px !important;*/
    }
}


@media screen and (min-width: 1200px) { 
    

}

@media screen and (min-width: 1700px) { 
    

}