.slider {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0;
}

.titreAccueil {
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -154px;
    z-index: 100;
    font-size: 4rem;
    color: #FFD543;
    letter-spacing: 5px;
    text-shadow: #B65F28 7px 7px;
}

.buttonAccueil {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -110px;
    z-index: 100;
    padding: 15px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    box-shadow: 10px 10px 0px #B65F28;
    background-color: #FFD543;
    color: #2C1E1E;
    cursor: pointer;
}

.slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    height: auto;
    margin-right: 0px;
    box-sizing: border-box;
    transform-origin: center center;
    transform: scale(1);
    scroll-snap-align: center;
}

.slidesImages {
    max-width: 100%;
    height: auto;
}

.sliderNav {
    box-sizing: border-box;
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    text-align: center;
}

.sliderNavlink {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 4px solid rgb(85, 192, 207);
    margin: 0 40px;
}
  
  
@media screen and (min-width: 768px) { 
    .titreAccueil {
        font-size: 7rem;
        margin-left: -250px;
    }
    
}


@media screen and (min-width: 1200px) { 
    .slidesImages {
        width: 100%;
        max-height: none;
    }

    .titreAccueil {
        margin-left: -350px;
        font-size: 10rem;
    }
    
    .buttonAccueil {
        margin-left: -200px;
        font-size: 3rem;
    }
}