.footer {
    background-color: #2C1E1E;
    color: #55C0CF;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 500px;
}

.footerText > h3 {
    font-size: 2rem;
    color: #FFD543;
    padding-left: 30px;
    text-shadow: #B65F28 3px 3px;
    letter-spacing: 2px;
}

.footerText > p {
    line-height: 23px;
    max-width: 400px;
    padding-left: 30px;
}

.footerLogos {
    display: flex;
    width: 200px;
    justify-content: space-between;
    padding: 20px 30px 30px;
}

.footerLogos > img {
    width: 40px;
}


@media screen and (min-width: 768px) { 
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 300px;
    }

    .footerText {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .footerText {
        padding: 10px 80px 30px;
    }

    .footerLogos {
        padding-right: 80px;
    }
}