
.App {
  position: relative;
  min-height: 100vh;
}

.spaceTop {
  padding-top: 110px;
}

.space {
  padding-bottom: 500px;
}


@media screen and (min-width: 768px) { 
  .space {
      padding-bottom: 300px;
  }
}